@import "../variables";
@import "../components";
@import "../brakepoints";
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: $padding-value;
  margin-bottom: $padding-value;
  @include container;
}
.title {
  font-size: $h2;
  margin-bottom: $padding-value;
  @include media("<=tablet") {
    font-size: $h2-tablet;
  }
}
.slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.167);
  border-radius: 4px;
  padding: calc($padding-value * 2);
  padding-left: $padding-value;
  padding-right: $padding-value;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  @include media("<=tablet") {
    overflow: scroll;
  }
}
