@import "../variables";
@import "../components";
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: unset;
  margin-bottom: $padding-value;
}
.small-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.2px #58667e16;
  @include container;

  h6 {
    font-size: $h6;
    font-family: $primary-font;
    color: $secondary-color;
    padding-right: $padding-value;
  }
  span {
    color: rgba(59, 131, 246, 0.735);
  }
  .smaller-container {
    display: flex;
    flex-direction: row;
  }
}
.big-container {
  position: relative;
  z-index: 1;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include container;
  .smaller-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.link {
  text-decoration: none;
  color: $primary-color;
  font-size: $h3;
  font-family: $primary-font;
  padding-right: $padding-value;
}
.image {
  display: flex;
  align-items: center;
  width: 50px;
  padding-right: $padding-value;
}
