@import "../variables";
@import "../components";
@import "../brakepoints";
.container {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  @include container;
  @include media("<=tablet") {
    height: 50vh;
  }
  @include media("<=phone") {
    height: unset;
    flex-direction: column;
  }
}
.title-container {
  height: 80%;
  width: 60%;
  margin-right: $padding-value;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: calc($padding-value * 2);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  @include media("<=tablet") {
    height: 450px;
  }
  @include media("<=tablet") {
    height: 400px;
    width: 100%;
    margin-bottom: $padding-value;
    margin-right: 0;
  }
}
.image {
  margin-bottom: $padding-value;
}
.uptitle {
  font-family: $primary-font;
  color: $secondary-color;
  font-size: $h2;
  font-weight: 600;
  line-height: 42px;
  @include media("<=tablet") {
    font-size: $h2-tablet;
    line-height: 36px;
  }
  @include media("<=phone") {
    font-size: $h2-phone;
    line-height: 36px;
  }
}
.title {
  font-family: $primary-font;
  font-size: 52px;
  font-weight: 700;
  @include media("<=tablet") {
    font-size: 32px;
  }
}
.subtitle {
  font-family: $primary-font;
  font-size: $h4;
  color: $secondary-color;
  font-weight: 500;
  margin-top: $padding-value;
  margin-bottom: $padding-value;
  @include media("<=tablet") {
    font-size: $h4-tablet;
  }
}
.button-container {
  @include media("<=tablet") {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.about-container {
  height: 80%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: calc($padding-value/2);
  padding: calc($padding-value * 2);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  h4 {
    font-family: $primary-font;
    font-size: $h4;
    color: $secondary-color;
    font-weight: 500;
    @include media("<=tablet") {
      font-size: $h4-tablet;
    }
    @include media("<=phone") {
      font-size: $h4-phone;
      line-height: unset;
    }
  }
  @include media("<=tablet") {
    height: 450px;
  }
  @include media("<=phone") {
    height: 400px;
    width: 100%;
    margin-bottom: $padding-value;
  }
}
.about-title {
  font-family: $primary-font;
  font-size: $h2;
  font-weight: 700;
  line-height: 32px;
  @include media("<=tablet") {
    font-size: $h2-tablet;
  }
  @include media("<=phone") {
    font-size: $h2-phone;
    line-height: unset;
  }
}
.button {
  width: 200px;
  align-self: flex-start;
  margin-top: $padding-value;
  font-family: $primary-font;
  font-weight: bold;
  font-size: $h4;
  background-color: rgba(0, 0, 0, 0.167);
  border: 0.5px solid rgba(0, 0, 0, 0.461);
  border-radius: 4px;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  @include media("<=tablet") {
    font-size: $h4-tablet;
    align-self: unset;
  }
}
.button2 {
  width: 200px;
  align-self: flex-start;
  margin-top: $padding-value;
  font-family: $primary-font;
  font-weight: bold;
  font-size: $h4;
  background-color: transparent;
  border: none;
  color: $primary-color;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  @include media("<=tablet") {
    font-size: $h4-tablet;
    align-self: unset;
  }
}
