@import "../variables";
@import "../brakepoints";
@import "../components";

.big {
  padding: $padding-value;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  @include media("<=tablet") {
    @include container;
  }
}
.container {
  font-family: $primary-font;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: $h2;
  @include media("<=tablet") {
    font-size: $h2-tablet;
  }
}
.title {
  font-size: $h2;
  @include media("<=tablet") {
    font-size: $h2-tablet;
  }
}
.small-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: $padding-value;
  padding-top: $padding-value;
  border-bottom: 1px solid rgba(0, 0, 0, 0.201);
}
.subtitle {
  font-family: $primary-font;
  font-size: $h4;
  color: $secondary-color;
  @include media("<=tablet") {
    font-size: $h4-tablet;
  }
}
.value {
  font-family: $primary-font;
  font-size: $h4;
  @include media("<=tablet") {
    font-size: $h4-tablet;
  }
}
