@import "../variables";
@import "../brakepoints";
@import "../components";
.container {
  @include media("<=tablet") {
    @include container;
  }
}
.rank {
  font-family: $primary-font;
  font-size: $h4;
  color: $secondary-color;
  margin-bottom: $padding-value;
  @include media("<=tablet") {
    font-size: $h4-tablet;
  }
  @include media("<=phone") {
    font-size: $h4-phone;
  }
}
.first-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: $padding-value;
}
.name {
  font-size: $h2;
  font-family: $primary-font;
  margin-right: $padding-value;
  @include media("<=tablet") {
    font-size: $h2-tablet;
  }
  @include media("<=phone") {
    font-size: $h2-phone;
  }
}
.image {
  width: 35px;
  margin-right: $padding-value;
}
.second-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: $padding-value;
}
.price {
  font-size: $h1;
  font-family: $primary-font;
  margin-right: $padding-value;
  @include media("<=tablet") {
    font-size: $h1-tablet;
  }
  @include media("<=phone") {
    font-size: $h1-phone;
  }
}
.percentage-positive {
  font-size: $h4;
  font-family: $primary-font;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: $positive-color;
  color: rgb(255, 255, 255);
  margin-right: $padding-value;
  @include media("<=tablet") {
    font-size: $h4-tablet;
  }
  @include media("<=phone") {
    font-size: $h4-phone;
  }
}
.percentage-negative {
  font-size: $h4;
  font-family: $primary-font;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: $negative-color;
  color: rgb(255, 255, 255);
  margin-right: $padding-value;
  @include media("<=tablet") {
    font-size: $h4-tablet;
  }
  @include media("<=phone") {
    font-size: $h4-phone;
  }
}
.lowhigh {
  font-family: $primary-font;
  font-size: $h6;
  @include media("<=tablet") {
    font-size: $h6-tablet;
  }
}
.market-info {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 16px;
  flex-direction: row;
}
.ingrid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ingrid-info {
  font-family: $primary-font;
  font-size: $h4;
  color: $secondary-color;
  @include media("<=tablet") {
    font-size: $h4-tablet;
  }
  @include media("<=phone") {
    font-size: $h4-phone;
  }
}
.ingrid-value {
  font-family: $primary-font;
  font-size: $h4;
  color: $primary-color;
  @include media("<=tablet") {
    font-size: $h4-tablet;
  }
  @include media("<=phone") {
    font-size: $h4-phone;
  }
}
