@import "../variables";
@import "../components";
@import "../brakepoints";
.container {
  margin-top: $padding-value;
  @include container;
  overflow: scroll;
}
.general-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: calc($padding-value * 2);
  @include media("<=tablet") {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
