//Font
$primary-font: "Inter", sans-serif;

//Font size
$h1: 32px;
$h2: 20px;
$h3: 18px;
$h4: 14px;
$h6: 12px;
$p: 10px;

$h1-tablet: 28px;
$h2-tablet: 16px;
$h3-tablet: 12px;
$h4-tablet: 10px;
$h6-tablet: 8px;
$p-tablet: 6px;

$h1-phone: 24px;
$h2-phone: 14px;
$h3-phone: 10px;
$h4-phone: 8px;
$h6-phone: 6px;
$p-phone: 6px;

//Colors
$primary-color: rgb(0, 0, 0);
$secondary-color: #58667e;
$positive-color: rgb(46, 150, 1);
$negative-color: #ea3943;

//Pading value
$padding-value: 16px;
$margin-value: 16px;
