//Font
$primary-font: "Inter", sans-serif;

//Font size
$h1: 32px;
$h2: 20px;
$h3: 18px;
$h4: 14px;
$h6: 12px;
$p: 10px;

//Colors
$primary-color: rgb(0, 0, 0);
$secondary-color: #58667e;
$positive-color: rgb(46, 150, 1);
$negative-color: #ea3943;

//Pading value
$padding-value: 16px;
$margin-value: 16px;
